# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd


# Distribution / packaging
.env
env/


# IDEs and editors
.vscode/


# Test coverage
htmlcov/
.coverage
.tox/
.coverage.*
.cache
.pytest_cache/

